body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#div1{
  background-image: url('../תמונות/Digital\ Planner\ Design\ &\ Digital\ Stationary\ Courses\ \ —\ The\ Pink\ Ink.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height:100vh;
  width: auto;
  /* z-index: 100; */
 
  

}
.css-1mcnwpj-MuiList-root{  
  background-color: transparent !important;
}
